 .JuegoMagicland{
        margin-top: 34px;
        width:calc(100% - 100px);
        height: 100vh;
        border-color: black;
    }

@media (min-width:300px) and (max-width:440px){
    .JuegoMagicland{
       height: 20vh;
    }
    #frame{
        font-size: 5px !important;
    }
}
@media (min-width:440px) and (max-width:870px){
    .JuegoMagicland{
       height: 38vh;
    }
}
@media (min-width:900px) and (max-width:1030px){
    .JuegoMagicland{
        height: 50vh;
    }
}
@media (min-width:1030px) and (max-width:1440px){
    .JuegoMagicland{
        height: 70vh;
    }
}

@media (orientation: landscape){
    .JuegoMagicland{
       height: 98vh;
    }
}
/* // @media screen and (){}
// @media screen and (){}  */
